<div class="container-fluid justify-content-center align-items-center">
  <div class="container text-center">
      <div class="row section1">
        <div class="col align-self-start text-light justify-content-center text-align-center">
         Miarahaba Tompoko!
         <br>
         <h1>Ny anarako dia <span class="special" style="z-index: 1000;">ANDRIANAINA Andy Faneva Hasintsoa</span></h1>
        </div>
        <div class="col align-self-center">
          <div class="pic">
              <img src="/Fa.png" alt="Faneva's picture" class="image-section1" width="auto">
          </div>
        </div>
      </div>
    </div>

<div class="container-fluid bg-bllack" style="text-align: center;" style="padding:10%">
  <h1 class="titre text-align-center text-primary" ><i class="bi bi-person-fill"></i>A propos de moi</h1><br>
  <div class="row text-light ">
    <h1 style="font-size: 15px;">Passionné de tout ce qui concerne l'IT. Je souhaite devenir un agent qui participera à des innovations et la création de nouvelle technologie pour contribuer au développement de notre pays.
    </h1><br>
    <h1 style="font-size: 15px;">Actuellement je me spécialise dans le langage Javascript et python. J'utilise le plus souvent le framework Angular.
    Mon objectif est de devenir un développeur fullstack et mobile, mais j'ai aussi une grande passion pour les intelligences artificielles.  </h1><br>
    <h1 style="font-size: 15px;"> Je suis prêt à m'investir dans des projets innovants. J'aime apprendre de nouvelle chose. Je suis ambitieux et curieux.</h1>
  </div><br>
  <button type="button" class="btn btn-outline-primary" style="z-index: index 10;padding-right: 15px;text-decoration: none;"><i class="bi bi-download" style="padding:0 15px"></i>
    <a href="CV_Faneva_ANDRIANAINA.pdf" download>Télécharger mon CV</a>
  </button>
</div><br>


<div class="container-fluid bg-bllack" style="text-align: center;" style="padding:10%">
  <h1 class="titre text-align-center text-primary" ><i class="bi bi-book-fill"></i>Éducation</h1><br>
    <div class="row">
      <div class="col-4 text-light">
        2022-Aujourd'hui
      </div>
      <div class="col-4 text-light">
        <strong style="text-decoration: underline;">Université:</strong>Oniversity FJKM Ravelojaona <br>
        <strong style="text-decoration: underline;">Parcour:</strong>Informatique <br>
        <strong style="text-decoration: underline;">Niveau:</strong>3 (Licence)
      </div>
    </div><br>
    <div class="row text-light">
      <div class="col-4">
        2021-2022
      </div>
      <div class="col-4 text-light">
        <strong style="text-decoration: underline;">Lycée:</strong>Institution Marthe Hervée Ankasina <br>
        <strong style="text-decoration: underline;">Baccalauréat:</strong>Série C<br>
      </div>
    </div>
</div><br>

<div class="container-fluid bg-bllack" style="text-align: center;" style="padding:10%">
  <h1 class="titre text-align-center text-primary" ><i class="bi bi-person-square"></i>Expérience professionel</h1><br>
  <div class="row">
    <div class="col-4 text-light">
      Juillet 2024
    </div>
    <div class="col-4 text-light">
      <strong style="text-decoration: underline;">Surveillant au Baccalauréat:</strong>à l'Institution Marhte Hervée<br>
    </div>
  </div><br>
  <div class="row text-light">
    <div class="col-4">
      Septembre-Octobre 2024
    </div>
    <div class="col-4 text-light">
      <strong style="text-decoration: underline;">Stage d'observation:</strong> SAGE Fampandrosoana Maharitra<br>
      <strong style="text-decoration: underline;">Durée:</strong>1 mois<br>
      <strong style="text-decoration: underline;">participation:</strong>Archivage, photocopie, imprimerie, classer les dossiers, etc.<br>
    </div>
  </div>
  </div><br>

<div class="bg-bllack" style="text-align: center;" style="padding:10%">
  <h1 class="titre text-align-center text-primary" ><i class="bi bi-activity"></i>Activité</h1><br>
  <div class="row">
    <div class="col-4 text-light    ">
      <strong>Scout</strong><br>
      Chef <code style="color:red">Tily Mena</code>  <br>
      Baobab Mifankatia 26ème Ambanidia
    </div><br><br>
    <div class="col-4   text-light  ">
      <img src="/Fa_Scout.png" alt="Photo" width="100%">
    </div>
  </div>
  <div class="row">
    <div class="col-4   text-light"><br><br>
      <strong>Kelimahefa Ministries <code style="color:red">(EQUIP)</code></strong>
    </div>
    <div class="col-4   text-light"><br>
    Leadership (Selon John C. Maxwell)
    <br>
    Torolàlana ho an'ny mpitarika
    </div><br>
</div><br>

<div class="container-fluid bg-bllack" style="text-align: center;" style="padding:10%">
  <h1 class="titre text-align-center text-primary" ><i class="bi bi-calendar-event"></i>Evenement et formation</h1><br>
  <div class="row text-light ">
    <div class="event"><strong>
      28 Juillet 2024
      </strong><br>
      <div class="para">
        <strong style="text-decoration: underline;">Evenement why not linux 3.0:</strong> participation a des conférences concernant l'open source, et linux.
      </div>
    </div><br>
    <div class="event"><strong>
     21-22 Juin 2024
      </strong><br>
      <div class="para">
        <strong style="text-decoration: underline;">Zah Geek 3.0:</strong>  participation au salon et au conférences concernant l'IA.
      </div><br>
    </div>
    <div class="event"><strong>
      23 Mars 2024
      </strong><br>
      <div class="para">
        <strong style="text-decoration: underline;">Arduino day:</strong>  voir les projets pendant l'évènement arduino day.
        <strong style="text-decoration: underline;">TEM Education:</strong>  formation arduino.(Semestre 1, année académique)
      </div><br>
    </div>
    <div class="event"><strong>
      28 Fevrier 2024
      </strong><br>
      <div class="para">
        <strong style="text-decoration: underline;">Cyber Swat et Internet Society:</strong>  
      Conférences concernant les piratages et les arnaques en ligne, les moyens de les trouver et de protéger 
      des informations. Une pratique sur les nouvelles connaissances grâce à l'OSINT 101 Challenge.
      </div><br>
    </div>
  </div><br>
</div>
<div style="text-align: center;">
  <a class="text-light event1" href="https://www.github.com/AndyFaneva"><i class="bi bi-star-fill"></i>Abonnez-vous</a>
</div>