<div class="container-fluid bg-bllack" style="padding:10%">
  <h1 class="titre text-align-center text-primary" ><i class="bi bi-star-fill"></i>Mes projets</h1><br>
    <div class="card-group">
        <div class="card">
          <img src="Savir1.jpg" class="card-img-top" alt="Savir">
          <div class="card-body">
            <h5 class="card-title">SaVir</h5>
            <p class="card-text"><span style="text-decoration: underline;">Description:</span>Savir ou bien Salon des étudiants virtuel est un projet qui a pour but de présenter tous les stands qui se trouve a un salon.
            Ce projet a comme fonctionnalité un login pour trois type de compte différente tel que l'administrateur, les universités et les visiteurs. Il est bien de noté que les visiteurs ne crée pas de compte mais ils s'enregistre.
            </p>
            <p class="card-text"><span style="text-decoration: underline;">Téchnologie utiliser:</span>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" height="30" alt="html5 logo"  />
              <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" height="30" alt="css logo"  />
              <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" height="30" alt="js logo"  />
              <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" height="30" alt="php logo"  />
              <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" height="30" alt="mysql logo"  />
              <img width="12" />
            </p>
            <p class="card-text"><small class="text-body-secondary">Dernière modification le 24 juin 2024</small></p>
            <a class="bi bi-code-slash voir-live" style="text-decoration: none;border:1px solid;border-radius:40px" href="https://github.com/AndyFaneva/SaVir.git">Voir le code</a>
 
        </div>
        </div>
        <div class="card">
          <img src="GPI_v1.0.png" class="card-img-top" alt="GPI">
          <div class="card-body">
            <h5 class="card-title">GPI (Gestion d'un Parc Informatique)</h5>
            <p class="card-text"><span style="text-decoration: underline;">Description:</span>GPI est un projet académique qui a pour but de gérer les infrastructure informatique de l'ONIFRA que ce soit matériel ou logiciel.
            Il permet le suivi en temps réel des stocks et des matériels en maintenance à l'ONIFRA pour gagner en temps dans les tâches quotidienne.</p>
            <p class="card-text"><span style="text-decoration: underline;">Téchnologie utiliser:</span>
              <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" height="30" alt="html5 logo"  />
              <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" height="30" alt="css logo"  />
              <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" height="30" alt="js logo"  />
              <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg" height="30" alt="php logo"  />
              <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" height="30" alt="mysql logo"  />
              <img width="12" />
            </p>
            <p class="card-text"><small class="text-body-secondary">Dernière modification le 4 juillet 2024</small></p>
            <span class="badge text-bg-primary">Nouveau</span><br>
            <a class="bi bi-code-slash voir-live" style="text-decoration: none;border:1px solid;border-radius:40px" href="https://github.com/AndyFaneva/GPI.git">Voir le code</a>

          </div>
        </div>
        <div class="card">
          <img src="/projet/pgg4p.PNG" class="card-img-top" alt="Savir">
          <div class="card-body">
            <h5 class="card-title">Plateform de paix, changement climatique et gestion des risques</h5>
            <p class="card-text"><span style="text-decoration: underline;">Description:</span>C'est un plateform SPA (Simple Page Application), plusieurs thématique tel que la paix, le changement climatique et la gestion des risques.
            Le plateform permet de créer un compte pour ceux qui veulent y être membre. Et le membre peuvent participer a des Webinaire et a des projets. Le rôle de l'administrateur et de gérer les projets, les webinairs et l'accès pour les utilisateurs ainsi que la gestion 
        des utilisateur. Quant au visiteur, ils peuvent voir les différentes thématique présente, voir les actualités et télécharger des documents concernant les thématiques présente.</p>
                <p class="card-text"><span style="text-decoration: underline;">Téchnologie utiliser:</span>
                  <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" height="30" alt="html5 logo"  />
                  <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" height="30" alt="css logo"  />
                  <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" height="30" alt="js logo"  />
                  <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angular/angular-original.svg" height="30" alt="angular logo"  />
                  <img width="12" /><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" height="30" alt="bootstrap logo"  />
                  <img width="12" />
                </p>
            <p class="card-text"><small class="text-body-secondary">En cours de modification</small></p>
<span class="badge text-bg-danger">En maintenance</span><br>
<a class="bi bi-code-slash voir-live" href="https://github.com/AndyFaneva/PGG4P.git" style="text-decoration: none;border:1px solid;border-radius:40px">Voir le code</a>
<a class="bi bi-globe voir-live" href="https://www.facebook.com" style="text-decoration: none;border:1px solid;border-radius:40px">Voir le démo</a>
<p>Le démo est le premier déploiement, ce n'est qu'un premier test pour le déploiement.</p>
          </div>
        </div>
      </div>
</div>