<header>
  <nav class="navbar navbar-expand-lg bg-noir ">
    <div class="container-fluid text-white">
      <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">    <img src="/Fa.png" alt="Faneva's picture" class="pic">A.Fax</a>
        <ul class="navbar-navv bf mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="active">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/info']" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid bg-bleu">
  <router-outlet></router-outlet>
</div>
<footer>
  <div class="reseau">
    <a href="https:/facebook.com">Facebook</a>
  <a href="https:/linkedin.com">Linkedin</a>
  <a href="https:/github.com">GitHub</a>
  </div>
  <div class="copyright">
    &copy;Faneva_ANDRIANAINA
  </div>
  <div class="adresse">
    <a>Adresse</a>
    <a href="https:/gmail.com">Mail</a>
    <a>Numéro</a>
  </div>
</footer>