header{
  position:fixed;
  z-index:999;
}
.section-p{
  padding-top:6%;
}
.pic{
  width:3%;
  background-color: white;
  border-radius: 70%;
  margin-right: 1%;
 }
.pic1{
  width:3%;
  background-color: white;
  border-radius: 70%;
  margin-right: 1%;
 }
.active{
  text-decoration: underline;
  font-style: italic;
  font-size: 18px;
  color:rgb(230, 107, 6);
}
.navbar-navv{
  display: contents;
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  list-style: none;
}
.nav-item{
  margin-right: 2%;
}
.bg-noir{
  backdrop-filter: blur(10px); /* Flou en arrière-plan */
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-bleu{
  background-color: rgb(10, 21, 51);
}
.none{
  text-decoration: none;
  color:white;
  cursor:pointer;
}
footer{
  background-color: black;
}
.nav-brand1{
  display:none;
}
.nav-link:hover{
  color:blue;
  font-size: 20px;
}
 @media screen and (max-width:750px){
.pic3{
  width: 15%;
  height: auto;
}
  header{
    position:fixed;
    z-index:999;
  }
  .section-p{
    padding-top:15%;
  }
  .navbar-brand{
    display:none;
  }
  .nav-brand1{
    display:flex;
    margin-left: 70%;
    margin-top: -10%;
  }
  .pic{
    background-color: white;
    width: 25%;
    justify-content: center;
    margin-left: 5%;
  }
  .pic1{
    width: 5%;
  }
  footer{
    display:center;
    text-align: center;
    margin:0 auto;
  }
 }

  