.pic{
 width:3%;
 background-color: black;
 border-radius: 70%;
 margin-right: 1%;
}
.active{
  text-decoration: underline;
  font-style: italic;
  font-size: 18px;
  color:rgb(230, 107, 6);
}
.navbar-navv{
  display: contents;
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: white;
  --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
  list-style: none;
}
.nav-item{
  margin-right: 2%;
}
.bg-noir{
  background-color: rgba(0,0,0,0.5);
}
.bg-bleu{
  background-color: rgb(6, 16, 155);
}
  
  