<div class="container-fluid justify-content-center align-items-center">
    <div class="container text-center">
        <div class="row section1">
          <div class="col align-self-start">
           Hello world!
           <br>
           <h1>I'm <span class="special" style="z-index: 1000;">Faneva ANDRIANAINA</span></h1>
          </div>
          <div class="col align-self-center">
            <div class="pic">
                <img src="/Fa.png" alt="Faneva's picture" class="image-section1">
            </div>
          </div>
          <div class="col align-self-end">
            <h1>I'm a <span class="special">developer</span></h1>
            <h2><a class="proud">Proud</a> of it</h2>
          </div>
        </div>
      </div>
</div>
<div class="container-fluid bg-bllack" style="text-align: center;" style="padding:10%">
  <h1 class="titre text-align-center" ><i class="bi bi-star-fill"></i>A propos de moi</h1><br>
  <div class="row text-light ">
    <h1 style="font-size: 15px;">Passionné de tout ce qui concerne l'IT. Je souhaite devenir un agent qui participera à des innovations et la création de nouvelle technologie pour contribuer au développement de notre pays.
    </h1><br>
    <h1 style="font-size: 15px;">Actuellement je me spécialise dans le langage Javascript et python. J'utilise le plus souvent le framework Angular.
    Mon objectif est de devenir un développeur fullstack et mobile, mais j'ai aussi une grande passion pour les intelligences artificielles.  </h1><br>
    <h1 style="font-size: 15px;"> (...)</h1>
  </div><br>
  <button type="button" class="btn btn-outline-primary" style="z-index: index 10;padding-right: 15px;text-decoration: none;"><i class="bi bi-download" style="padding:0 15px"></i>
    <a href="Mon_cv.pdf" download>Télécharger mon CV</a>
  </button>
  <button [routerLink]="['/info']" type="button" class="btn btn-outline-secondary" style="z-index: index 10;padding-right: 15px;">  <i class="bi bi-three-dots" style="padding:0 15px"></i>En savoir plus</button>
</div>
<div class="container-fluid text-center">

    <div class="row align-items-center section2 text-center justify-content-center">
        <h2 class="titre"><i class="bi bi-star-fill"></i><span>{{Future}} </span>Développeur Fullstack & Mobile</h2>
        <p>
        Concevoir des applications et résoudre des problèmes en faisant des algorithmes est l'une des activités dont j'exerce le plus.
        Mais l'implémentation de ce dernier est ce qui me passionne, en développant une application, je me plonge
        dans l'univers de l'IT. <br><br>
        <i class="bi bi-quote"></i>
        Je code donc je crée. Du bout de mes doigts, le futur naît.
        <i class="bi bi-quote"></i>
    </p>
    </div>
  </div>
  <div class="container-fluid section3 align-items-center justify-content-center text-center">
    <h2 class="lcom" class="titre"><i class="bi bi-star-fill"></i>Liste de mes compétences</h2>
    <div class="row">
    <div class="row align-items-center justify-content-center text-center">
       
        <h3 style="text-decoration: underline; text-align: left;" >Développement Fullstack</h3>
        <i style="text-align: left;"><i class="bi bi-x-diamond-fill"></i>Angular(spécialité), React, Node.js, MySQL, MongoDB, python(Django)</i>
</div>
<div class="row" style="text-align: left;">
    <h3 style="text-decoration: underline;">Développement Mobile</h3>
        <i><i class="bi bi-x-diamond-fill"></i>Flutter, React Native, Kotlin</i>
</div>
<div class="row" style="text-align: left;">
    <h3 style="text-decoration: underline;">Autres compétences</h3>
        <i><i class="bi bi-x-diamond-fill"></i>Conception des systèmes d'informations</i><br>
        <i><i class="bi bi-x-diamond-fill"></i>Système de gestion des bases de données(SGBD)</i><br>
</div>
</div>
  </div>
<div class="section4">
    <div class="container-fluid bg-bllack" style="padding:10%">
        <h2 style="color:white" class="titre"><i class="bi bi-star-fill"  ></i>Mes projets réalisés</h2>
        <div class="card-group">
            <div class="card">
              <img src="Savir1.jpg" class="card-img-top" alt="Savir">
              <div class="card-body">
                <h5 class="card-title">SaVir</h5>
                <p class="card-text"><small class="text-body-secondary">Dernière modification le 24 juin 2024</small></p>
              </div>
            </div>
            <div class="card">
              <img src="GPI_v1.0.png" class="card-img-top" alt="GPI">
              <div class="card-body">
                <h5 class="card-title">GPI (Gestion d'un Parc Informatique)</h5>
                <p class="card-text"><small class="text-body-secondary">Dernière modification le 4 juillet 2024</small></p>
              </div>
            </div>
            <div class="card">
              <img src="/projet/pgg4p.PNG" class="card-img-top" alt="Savir">
              <div class="card-body">
                <h5 class="card-title">Plateforme de paix, changement climatique et gestion des risques</h5>
                <p class="card-text"><small class="text-body-secondary">En cours de modification</small></p>
              </div>
            </div>
          </div>
          <button type="button" [routerLink]="['/portfolio']" class="btn btn-outline-primary" style="padding-right: 15px;"><i class="bi bi-three-dots" style="padding:0 15px"></i>Voir les détails de chaque projet</button>
    </div>
</div>
<div class="section5" >
    <div class="container text-center" style="padding-top: 10%;">
        <h3 style="color:white" class="titre"><i class="bi bi-star-fill"  ></i>Outils</h3>
        <div class="row justify-content-start">
          <div class="col-4">
            <img src="Icon/css.png" alt="" width="50%">
          </div>
          <div class="col-4">
           <img src="Icon/ubuntu.png" alt="" width="50%">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-4">
            <img src="Icon/github.png" alt="" width="50%">
          </div>
          <div class="col-4">
            <img src="Icon/html.png" alt="" width="50%">
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-4">
            <img src="Icon/js.png" alt="" width="50%">
          </div>
          <div class="col-4">
            <img src="Icon/git.png" alt="" width="100%">
          </div>
          <div class="col-4">
            <img src="Icon/mysql.png" alt="" width="50%">
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-4">
            <img src="Icon/php.png" alt="" width="50%">
          </div>
          <div class="col-4">
            <img src="Icon/wamp.png" alt="" width="50%">
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-4">
            <img src="Icon/windows.png" alt="" width="100%">
          </div>
          <div class="col-4">
            <img src="Icon/php.png" alt="" width="50%">
          </div>
        </div>
        <div class="row justify-content-evenly">
          <div class="col-4">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" height="100" alt="bootstrap logo"  />
            <img width="100px" />
          </div>
          <div class="col-4">
            <img src="Icon/py.png" alt="" width="50%">
          </div>
        </div>
        <div class="row justify-content-start">
          <div class="col-4">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angular/angular-original.svg" height="100" alt="bootstrap logo"  />
            <img width="100px" />
          </div>
          <div class="col-4">
            <img src="Icon/node.png" alt="" width="50%">
          </div>
          <div class="col-4">
           <img src="Icon/ts.png" alt="" width="50%">
          </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
              <img src="Icon/mongo.png" alt="" width="50%">
            </div>
          </div>
      </div>
      <div class="row justify-content-evenly">
        <div class="col-4">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" height="100" alt="mysql logo"  />
              <img width="100px" />
        </div>
        <div class="col-4">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flutter/flutter-original.svg" height="100" alt="mysql logo"  />
              <img width="50" />
        </div>
      </div>
</div>
